<div class="page-center">
  <div class="card w-470">
    <div class="card-body">
      <h3 class="text-center">Sign In to YourAppName</h3>
      <hr/>
      <a href="<%= user_facebook_omniauth_authorize_path %>" class="btn-facebook mb-2">
        <span class="devise-social-icons"><img src="/facebook-icon.png" width="24" height="24" alt="Facebook Icon"></span>
        <span class="devise-social-text">Sign In with Facebook</span>
      </a>
      <a href="<%= user_google_oauth2_omniauth_authorize_path %>" class="btn-google">
        <span class="devise-social-icons"><img src="/google-icon.png" width="18" height="18" alt="Google Icon"></span>
        <span class="devise-social-text">Sign In with Google</span>
      </a>
      <div class="row align-items-center no-gutters my-2">
        <div class="col-5">
          <hr/>
        </div>
        <div class="col-2 text-center">
          OR
        </div>
        <div class="col-5">
          <hr/>
        </div>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group form-floating">
          <%= f.email_field :email, placeholder: 'Enter Your Email', required: true %>
          <label for="user_email">Enter Your Email</label>
        </div>
        <div class="form-group form-floating">
          <%= f.password_field :password, placeholder: 'Enter Your Password', required: true, minlength: 6 %>
          <label for="user_password">Enter Your Password</label>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3 font-size-sm">
          <% if devise_mapping.rememberable? -%>
            <div class="checkbox">
              <%= f.check_box :remember_me %>
              <label for="user_remember_me">Remember me</label>
            </div>
          <% end -%>
          <%= link_to "Forgot password?", new_password_path(resource_name) %>
        </div>
        <%= f.submit "Sign In", class:'btn-submit' %>
      <% end %>
      <div class="text-center mt-3">
        <p>Not a member? <%= link_to "Join", new_registration_path(resource_name) %></p>
      </div>
    </div>
  </div>
</div>