<div class="page-center">
  <div class="container-fluid px-0 bg-white h-100">
    <div class="row no-gutters h-100 align-items-center justify-content-center">
      <div class="col-lg-6">
        <div class="w-470 px-3 px-sm-0 py-4 mx-auto">
          <a href="/" class="d-block text-center">
            <img src="/logo.svg" width="205" height="24" alt="YourAppName Logo">
          </a>
          <h3 class="text-center my-4">Resend unlock instructions</h3>
          <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group form-floating">
              <%= f.email_field :email, placeholder:"Enter Your Email", required: true %>
              <label for="user_email">Enter Your Email</label>
            </div>
            <%= f.submit "Resend unlock instructions", class:'btn-submit' %>
          <% end %>
          <div class="text-center mt-3">
            <p>Already a member? <%= link_to "Login", new_session_path(resource_name) %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-none d-lg-block devise-bg">
      </div>
    </div>
  </div>
</div>