<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-lg">
    <a class="navbar-brand mr-0" href="<%= user_signed_in? ? user_panel_path : root_path %>">
      <img src="/logo.svg" width="205" height="24" alt="Logo">
    </a>  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= plans_path %>">Plans</a>
        </li>
        <% unless user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_path %>"><i class="fas fa-sign-in-alt mr-1"></i> Login</a>
          </li>
          <li class="d-flex align-items-center">
            <a class="btn btn-primary" href="<%= new_user_registration_path %>"><i class="fas fa-user mr-1"></i> Sign Up</a>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.profile_pic.present? %>
                <img src="<%= current_user.profile_pic %>" class="header-avatar" alt="Profile Picture">
              <% else %>
                <div class="first-letter header">
                  <% if current_user.name.present? %>
                    <%= current_user.name.first %>
                  <% else %>
                    <%= current_user.email.first %>
                  <% end %>
                </div>
              <% end %>
              <% if current_user.name.present? %>
                <%= current_user.name %>
              <% else %>
                <%= current_user.email %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="<%= profile_path %>"><i class="fas fa-user-cog"></i> Profile</a>
              <a class="dropdown-item" href="<%= edit_user_registration_path %>"><i class="fas fa-cogs"></i> Settings</a>
              <a class="dropdown-item" href="<%= user_settings_path %>"><i class="fas fa-money-check"></i> Payments</a>
              <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="delete" class='g_id_signout'><i class="fas fa-sign-out-alt"></i> Log out</a>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%#= render 'layouts/login_modal' %>
<%#= render 'layouts/signup_modal' %>